// Variablen
$primaryColour: #2c3e50;
$secondaryColour: #87ceeb;
$bgColour1: #333333;
$bgColourDark: #333333;
$bgColourLight: #fff;
$textColorDark: #000;
$textColorLight: #fff;
$neonColour: #87ceeb;
$hoverColour1: #fff;
$hoverColour2: #020202;

$hFontSize: 1.5rem;
$textFontSize: 1rem;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");
/* font-family: 'Noto Serif TC', serif; */
/* Allgemein */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

/* Klammern über Hover */
.codingKlammern {
	cursor: pointer;

	&:hover::after,
	&:hover::before,
	&:hover {
		text-shadow: 0 0 6px $secondaryColour;
	}
	&::before,
	&::after {
		transition: all 150ms ease-in;
		visibility: hidden;
		color: transparent;
	}
	&::before {
		content: "< ";
	}

	&::after {
		content: " />";
	}
}

/* Pulsating Animation*/
.pulsating {
	animation-name: pulsating;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
}
@keyframes pulsating {
	0% {
		color: transparent;
	}
	50% {
		color: $textColorDark;
	}
	100% {
		color: transparent;
	}
}
/* Neon Hover */

.neon {
	cursor: pointer;
	font-size: 2rem;
	color: $neonColour;
	display: inline-block;
	border: 0.25rem solid $neonColour;
	padding: 1rem 2rem;
	border-radius: 0.25rem;
	text-shadow: 0 0 0.25em hsl(0 0% 100% / 0.3), 0 0 0.5em currentColor;
	box-shadow: 0 0 0.75em 0 $neonColour, inset 0 0 0.5em 0 $neonColour;
	position: relative;
	transition: background-color 250ms linear;

	&::before {
		pointer-events: none;
		content: "";
		position: absolute;
		background-color: $neonColour;
		top: 150%;
		left: 0;
		width: 100%;
		height: 100%;
		transform: perspective(1.5em) rotateX(40deg) scale(1, 0.5);
		filter: blur(10em);
		opacity: 0.5;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $neonColour;
		z-index: -1;
		box-shadow: 0 0 2rem 0.5rem $neonColour;
		opacity: 0;
	}
	&:hover {
		background-color: $neonColour;
		color: $bgColourDark;
		text-shadow: none;
	}
	&:hover::before,
	&:focus::before,
	&:hover::after,
	&:hover::after {
		opacity: 1;
	}
}
/* Header */
header {
	height: 100dvh;
	width: 100dvw;
	background-color: $primaryColour;

	#logo {
		font-family: "Noto Serif TC", serif;
		font-size: 3rem;
		border: 1.5px solid black;
		padding: 0 0.5rem;
		transition: color 500ms;
		&:hover {
			color: darkred;
			border-color: darkred;
		}
	}

	nav {
		height: 10%;
		width: 100%;
		background-color: $secondaryColour;
		display: flex;
		position: fixed;
		top: 0;
		align-items: center;
		justify-content: space-between;
		z-index: 2;
		padding: 0 2rem;
		/* box-shadow: 0 0 10px 1px $secondaryColour; */

		ul {
			display: flex;
			justify-content: flex-end;
			gap: 3rem;
			margin: 0 2rem;

			li {
				list-style: none;
				font-size: 2rem;
			}
			a {
				transition: all 2500ms;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: $textColorDark;
					transform: scalex(0);
					transform-origin: right;
					transition: transform 400ms ease-in;
				}

				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
	}

	#hero {
		height: calc(100% - 10%);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;

		h1 {
			font-size: 3rem;
			color: $textColorLight;
			span {
				cursor: pointer;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: 10%;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: $textColorLight;
					transform: scalex(1);
					transform-origin: left;
					transition: transform 400ms ease-in;
				}

				&:hover::after {
					transform: scaleX(0);
					transform-origin: left;
				}
			}
		}
		h3 {
			font-size: 2rem;
			color: $textColorLight;
			position: relative;
		}
	}
}
#whoAmI {
	position: absolute;
	top: -5rem;
	left: 50%;
	transform: translatex(-50%);
	background-color: $bgColourLight;
	/* border: 1px solid $secondaryColour; */
	padding: 2rem;
	border-radius: 0.25rem;

	display: none;

	> div {
		display: flex;
		img {
			width: 200px;
		}
		> div {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			min-width: 250px;
			max-width: 350px;
			padding: 0 1rem;
			color: $textColorDark;
			font-size: 1.5rem;

			h3 {
				font-size: 3rem;
				color: $textColorDark;
			}
			div {
				margin-top: auto;
				p {
					margin-top: 0.5rem;
					font-weight: 300;
				}
			}
		}
		p i {
			position: absolute;
			top: 1rem;
			right: 1rem;
			color: $textColorDark;
			cursor: pointer;
		}
	}
}

/* Projekte */
.projekte {
	$projekteBorderRadius: 2rem;
	/* display: grid;
	grid-auto-flow: column; */
	/* grid-template-columns: repeat(3, 1fr); */

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	padding: 1.5rem 3rem;
	transition: all 250ms;

	.projekt {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: $bgColour1;
		color: $textColorLight;
		border-radius: $projekteBorderRadius;
		overflow: hidden;
		position: relative;
		min-width: 150px;
		max-width: 265px;
		max-height: 250px;
		cursor: default;

		> a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			cursor: default;
		}

		.imgContainer {
			overflow: hidden;
			aspect-ratio: auto 1.25/1;
			display: flex;
			align-items: center;
			border: 0.5rem solid $bgColour1;
			border-radius: $projekteBorderRadius $projekteBorderRadius 0 0;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 250ms;
				z-index: 1;

				&:hover {
					scale: 1.05;
					rotate: 1deg;
				}
			}

			/*    &:hover {
                overflow: visible;
                z-index: 1;
            } */
		}
		div:last-of-type {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			gap: 0.5rem 1.5rem;
			line-height: 0.5rem;
			flex-wrap: wrap;
			padding-bottom: 1rem;
		}
		a {
			margin: 1rem auto;
			font-size: 1.5rem;
			z-index: 1;

			&:last-of-type {
				z-index: 1;
			}
		}
		&:hover .codingKlammern::before,
		&:hover .codingKlammern::after {
			visibility: visible;
			color: $secondaryColour;
		}
	}
	.projektGithub {
		min-width: 100%;
		.imgContainer {
			aspect-ratio: auto;
		}
	}
}

/* Referenzen */

/* Footer */
footer {
	background-color: $bgColourDark;
	color: $textColorLight;
	height: calc(100svh - 10vh);
	width: 100%;
	display: grid;
	grid-template-rows: 2.5fr 1fr;
	padding-bottom: 4rem;

	#abschluss {
		display: flex;
		justify-content: center;
		align-items: center;
		/* border-bottom: 3px solid $secondaryColour; */

		a {
			font-size: 2.5rem;
			text-transform: uppercase;
		}
	}
	/* #kontakt {
		display: grid;
		grid-template-columns: 1fr 1fr;
		article {
			padding: 1rem 3rem;
			position: relative;
			h4 {
				font-size: 3rem;
				rotate: -90deg;
				position: absolute;
				right: 0;
				bottom: 0;
				transform: translate(50%);
				text-align: start;
			}
			div {
				width: 80%;

				p {
					display: flex;
					justify-content: space-between;
				}
			}
			&:first-of-type {
				div {
					display: flex;
					flex-direction: column;
					height: 100%;
					p:last-of-type {
						margin-top: auto;
					}
				}
			}
		}
	} */
}
/* Zurück nach oben Pfeil */
#topArrow {
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	z-index: 3;
	background-color: rgba($bgColourDark, 0.75);
	border-radius: 15%;
	font-size: 2rem;
	padding: 1rem;
	aspect-ratio: 1/1;
}
// Kontakt
/* Hover */
#hover {
	display: flex;
	/* grid-template-columns: repeat(4, 1fr); */
	gap: 0.5rem;
	padding: 1rem 15rem;
	width: calc(100% - 2rem);
	justify-content: center;

	&:hover > .card > .cardBorder {
		opacity: 1;
	}
	.card {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba($hoverColour1, 0.1);
		border-radius: 1rem;
		position: relative;
		aspect-ratio: 1/1;
		width: 150px;
		font-size: 4rem;

		&:hover::before,
		&:hover > .cardBorder {
			opacity: 1;
		}
		&::before,
		> .cardBorder {
			border-radius: inherit;
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			transition: opacity 500ms;
		}
		&::before {
			background-color: radial-gradient(
				800px circle at var(--mouse-x) var(--mouse-y),
				rgba($hoverColour1, 0.06),
				transparent 40%
			);
			z-index: 3;
		}

		> .cardBorder {
			background: radial-gradient(
				500px circle at var(--mouse-x) var(--mouse-y),
				rgba($hoverColour1, 0.3),
				transparent 40%
			);
			z-index: 1;
		}
		> .cardContent {
			background-color: $hoverColour2;
			opacity: 0.65;
			border-radius: inherit;
			height: calc(100% - 3px);
			width: calc(100% - 3px);
			margin: 1px;
			position: relative;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
