@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");
/* font-family: 'Noto Serif TC', serif; */
/* Allgemein */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Klammern über Hover */
.codingKlammern {
  cursor: pointer;
}
.codingKlammern:hover::after, .codingKlammern:hover::before, .codingKlammern:hover {
  text-shadow: 0 0 6px #87ceeb;
}
.codingKlammern::before, .codingKlammern::after {
  transition: all 150ms ease-in;
  visibility: hidden;
  color: transparent;
}
.codingKlammern::before {
  content: "< ";
}
.codingKlammern::after {
  content: " />";
}

/* Pulsating Animation*/
.pulsating {
  animation-name: pulsating;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
}

@keyframes pulsating {
  0% {
    color: transparent;
  }
  50% {
    color: #000;
  }
  100% {
    color: transparent;
  }
}
/* Neon Hover */
.neon {
  cursor: pointer;
  font-size: 2rem;
  color: #87ceeb;
  display: inline-block;
  border: 0.25rem solid #87ceeb;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-shadow: 0 0 0.25em hsla(0, 0%, 100%, 0.3), 0 0 0.5em currentColor;
  box-shadow: 0 0 0.75em 0 #87ceeb, inset 0 0 0.5em 0 #87ceeb;
  position: relative;
  transition: background-color 250ms linear;
}
.neon::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background-color: #87ceeb;
  top: 150%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1.5em) rotateX(40deg) scale(1, 0.5);
  filter: blur(10em);
  opacity: 0.5;
}
.neon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #87ceeb;
  z-index: -1;
  box-shadow: 0 0 2rem 0.5rem #87ceeb;
  opacity: 0;
}
.neon:hover {
  background-color: #87ceeb;
  color: #333333;
  text-shadow: none;
}
.neon:hover::before, .neon:focus::before, .neon:hover::after, .neon:hover::after {
  opacity: 1;
}

/* Header */
header {
  height: 100dvh;
  width: 100dvw;
  background-color: #2c3e50;
}
header #logo {
  font-family: "Noto Serif TC", serif;
  font-size: 3rem;
  border: 1.5px solid black;
  padding: 0 0.5rem;
  transition: color 500ms;
}
header #logo:hover {
  color: darkred;
  border-color: darkred;
}
header nav {
  /* height: 10%; */
  width: 100%;
  background-color: #87ceeb;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 0 2rem;
  /* box-shadow: 0 0 10px 1px $secondaryColour; */
}
header nav > a {
  margin: 1rem 0;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  margin: 0 2rem;
}
header nav ul li {
  list-style: none;
  font-size: 2rem;
}
header nav ul a {
  transition: all 2500ms;
  position: relative;
}
header nav ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scalex(0);
  transform-origin: right;
  transition: transform 400ms ease-in;
}
header nav ul a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
header #hero {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
header #hero h1 {
  font-size: 3rem;
  color: #fff;
}
header #hero h1 span {
  cursor: pointer;
  position: relative;
}
header #hero h1 span::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scalex(1);
  transform-origin: left;
  transition: transform 400ms ease-in;
}
header #hero h1 span:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}
header #hero h3 {
  font-size: 2rem;
  color: #fff;
  position: relative;
}

#whoAmI {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translatex(-50%);
  background-color: #fff;
  /* border: 1px solid $secondaryColour; */
  padding: 2rem;
  border-radius: 0.25rem;
  display: none;
}
#whoAmI > div {
  display: flex;
}
#whoAmI > div img {
  width: 200px;
}
#whoAmI > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 250px;
  max-width: 350px;
  padding: 0 1rem;
  color: #000;
  font-size: 1.5rem;
}
#whoAmI > div > div h3 {
  font-size: 3rem;
  color: #000;
}
#whoAmI > div > div div {
  margin-top: auto;
}
#whoAmI > div > div div p {
  margin-top: 0.5rem;
  font-weight: 300;
}
#whoAmI > div p i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #000;
  cursor: pointer;
}

/* Projekte */
.projekte {
  /* display: grid;
  grid-auto-flow: column; */
  /* grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 3rem;
  transition: all 250ms;
}
.projekte .projekt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  min-width: 150px;
  max-width: 265px;
  max-height: 250px;
  cursor: default;
}
.projekte .projekt > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: default;
}
.projekte .projekt .imgContainer {
  overflow: hidden;
  aspect-ratio: auto 1.25/1;
  display: flex;
  align-items: center;
  border: 0.5rem solid #333333;
  border-radius: 2rem 2rem 0 0;
  /*    &:hover {
               overflow: visible;
               z-index: 1;
           } */
}
.projekte .projekt .imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 250ms;
  z-index: 1;
}
.projekte .projekt .imgContainer img:hover {
  scale: 1.05;
  rotate: 1deg;
}
.projekte .projekt div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem 1.5rem;
  line-height: 0.5rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.projekte .projekt a {
  margin: 1rem auto;
  font-size: 1.5rem;
  z-index: 1;
}
.projekte .projekt a:last-of-type {
  z-index: 1;
}
.projekte .projekt:hover .codingKlammern::before, .projekte .projekt:hover .codingKlammern::after {
  visibility: visible;
  color: #87ceeb;
}
.projekte .projektGithub {
  min-width: 100%;
}
.projekte .projektGithub .imgContainer {
  aspect-ratio: auto;
}

/* Referenzen */
/* Footer */
footer {
  background-color: #333333;
  color: #fff;
  height: calc(100svh - 10vh);
  width: 100%;
  /* display: grid;
  grid-template-rows: 1.5fr 1fr; */
  padding-bottom: 4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7rem;
}
footer #abschluss {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 3px solid $secondaryColour; */
  text-align: center;
  padding: 0 5rem;
}
footer #abschluss a {
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* Zurück nach oben Pfeil */
#topArrow {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 3;
  color: #87ceeb;
  /* background-color: rgba($bgColourDark, 0.75); */
  border-radius: 15%;
  font-size: 3rem;
  padding: 1rem;
  aspect-ratio: 1/1;
}

/* Hover */
#hover {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 5rem;
  width: 100%;
  justify-content: center;
}
#hover:hover > .card > .cardBorder, #hover:focus > .card > .cardBorder {
  opacity: 1;
}
#hover .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  position: relative;
  max-width: 150px;
  max-height: 150px;
  font-size: 4rem;
  aspect-ratio: 1/1;
}
#hover .card:hover::before, #hover .card:hover > .cardBorder {
  opacity: 1;
}
#hover .card::before,
#hover .card > .cardBorder {
  border-radius: inherit;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 500ms;
}
#hover .card::before {
  background-color: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
  z-index: 3;
}
#hover .card > .cardBorder {
  background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.3), transparent 40%);
  z-index: 1;
}
#hover .card > .cardContent {
  background-color: #020202;
  opacity: 0.65;
  border-radius: inherit;
  height: calc(100% - 3px);
  width: calc(100% - 3px);
  margin: 1px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

/* ==========
media queries 
========== */
/* Mobile */
@media (max-width: 700px) {
  header nav ul {
    display: none;
  }
  #whoAmI {
    top: -600%;
  }
  #whoAmI > div {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  #whoAmI > div img {
    /* display: none; */
    width: 100px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 1rem;
  }
  .projekte {
    padding: 1.5rem 0.5rem;
  }
  .projekte .projekt {
    max-width: 125px;
  }
  footer #hover {
    padding: 1rem 2rem;
  }
  footer #hover .card {
    font-size: 2rem;
  }
  footer #hover .cardContent {
    padding: 2rem;
  }
}/*# sourceMappingURL=style.css.map */